<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


 

  <title></title>
</head>

<body>
  {% include "vehicle/navbar.html" %}<br><br><br>
<h4 style="color:darkgrey;">"The expectations of life depend upon diligence;<br> the mechanic that would perfect his work must first <br>sharpen his tools."</h4>

<center>
<h3>About Us !</h3>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTA9G8RoVKBrz723pgUsNFnX26KMrC7hNIogw&usqp=CAU">

    <h4><center>A genuine solution to vehicle problems</center></h4>
    <h5>Explore our Website.</h5>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/" role="button">HOME</a>
    </p>
  </div>
  </center>

</body>

</html>
