<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <style media="screen">
    .cu {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .cu h1 {
      text-align: center;
    }

  </style>

</head>

<body>
<center style="color:#FF3366;">

  {% include "vehicle/navbar.html" %}
  <br><br><br><br><br><br><br><br>
  <div class="cu" style="margin-bottom:0px;">
    <h3>Hello,Customer</h3><br><br>
    <h4>Welcome to Service Around The Clock<h4><br><br>
 
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="customersignup" role="button">Register Your Account</a>
      <a class="btn btn-primary btn-lg" href="customerlogin" role="button">Login</a>
    </p>
  </div>
</center>
 
</body>

</html>
