<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <style media="screen">
    .me {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .me h1 {
      text-align: center;
    }

  </style>

</head>

<body>
<center style="color:#66CC00;>

  {% include "vehicle/navbar.html" %}
  <br><br><br><br><br><br><br>
  <div class="me" style="margin-bottom:0px;">
    <h3>Hello, Mechanics</h3><br><br>
    <h4>Welcome to Service Around The clock</h4><br><br>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="mechanicsignup" role="button">Register your Account</a>
      <a class="btn btn-primary btn-lg" href="mechaniclogin" role="button">Login</a>
    </p>
  </div>
</center>
</body>

</html>
